
.portfolio-parent {
    display: flex;
    flex-direction: column;
    flex: wrap;
}

.portfolio {
display: flex;
}
}




/* media querie
----------
---------- */

@media screen and (min-width: 768px) {

 .portfolio-parent {
     display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
     }

.child {
    display: flex;
    flex-direction: row;
    flex: wrap;
    width: 100px;
}
    
}





@media screen and (min-width: 1024px) {

    .portfolio-parent {
       flex-direction: column;
       flex-wrap: wrap;
       justify-content: space-between;
        }
   
   .portfolio-child {
       width: 31%;
   }
       
   }